*{margin: 0;padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

footer{
	height: 417px;
	background-color: #232323;
}

footer .one1{
	width: 930px;
	height: 70px;
	margin: 0 auto;
	/* background-color: #55A532; */
	/* border-bottom: 1px solid #323232; */
}

footer .one1 ul{
	float: left;
	margin-left: 230px;
}

footer .one1 ul li{
	float: left;
} 

footer .one1 ul li img{
	margin-top: 12px;
} 
footer .one1 ul li a{
	line-height: 70px;
	margin-left: 15px;
	color: #e8eced;
} 

footer .two1{
	height: 258px;
	border-top: 1px solid #323232;
	border-bottom: 1px solid #323232;
}

footer .two1 .safe{
	width: 930px;
	height: 258px;
	margin: 0 auto;
}

footer .two1 .safe ul{
	float: left;
}

footer .two1 .safe ul li{
	font-size: 14px;
	color: #f8f9fe;
	line-height: 26px;
}

footer .two1 .safe ul li a{
	color: #f8f9fe;
}

footer .two1 .safe .right{
	margin-right: 177px;
}

footer .two1 .safe ul:nth-child(4){
	margin-left: 95px;
}

footer .two1 .safe ul .lll{
	font-size: 16px;
	margin-top: 13px;
	margin-bottom: 26px;
}

footer .two1 .safe .last li{
	line-height: 20px;
}

footer .two1 .safe .last li:nth-child(1){
	font-size: 16px;
	margin-top: 13px;
}

footer .two1 .safe .last li:nth-child(2) a span{
	font-size: 40px;
}

footer .two1 .safe .last li:nth-child(2){
	margin: 18px 0;
}

footer .three1 .foo{
	width: 590px;
	margin: 0 auto;
}

footer .three1 .foo ul{
	text-align: center;
	float: left;
}

footer .three1 .foo ul li{
	font-size: 14px;
	line-height: 22px;
	color: #7e8482;
}

footer .three1 .foo ul li:nth-child(1){
	color: #f8f9fe;
	margin-top: 20px;
	font-size: 10px;
}

footer .three1 .foo span img{
	margin-top: 17px;
	margin-left: 12px;
}

